<ion-view view-title="">
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar ng-class="{'main-app-nav': true, 'bar-light': true}">
         <div ng-class="{'buttons': true, 'nav-buttons': true, 'out-of-focus': sideMenuIsOpen()}"
              ng-controller="NavCtrl">
           <button class="button button-icon button-clear ion-android-settings preferences-button ng-class:{'button-positive': sideMenuIsOpen()}"
                    menu-toggle="left">
            </button>
            <a ng-click="openLikedShowsModal()"
               class="button button-icon button-clear ion-android-list favorites-button ng-class:{'button-positive': likedShowsModalIsOpen}">
            </a>

            <div class="user-info-container">
              <img ng-src="{{regionalFlagUrl()}}" class="regional-flag" />
              <div class="user-avatar">
                <img ng-src="{{currentUser.picture}}" />
              </a>

              <a class="more-link-options button button-icon button-clear ion-android-more-vertical ng-class:{'button-positive': moreOptionsPopoverIsOpen}"
                 ng-click="openPopover($event)">
              </a>
            </div>
          </div>
        </div>
      </ion-header-bar>

      <ion-content padding="true" scroll="false" ng-class="{'cards-container': true, 'out-of-focus': sideMenuIsOpen()}" ng-controller="CardsCtrl">
        <td-cards ng-if="shows.length">
            <td-card ng-repeat="show in shows | limitTo: 1"
                     on-partial-swipe="partialSwipeShow($index)"
                     on-snap-back="snapBackShow($index)"
                     on-destroy="destroyShow($index)"
                     my-on-swipe-right="likedShow($index)"
                     my-on-swipe-left="dislikedShow($index)">
              <show-card show="show"></show-card>
            </td-card>
          </td-cards>
      </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-content padding="false" scroll="true" ng-controller='PreferencesCtrl'>
        <ion-list>
          <ion-item class="item-divider">
            Minimum IMDb Rating: {{prefs.minImdbRating}}
          </ion-item>
          <ion-item class="range range-positive web-draggable">
            <input type="range" min="0.0" max="10.0" step="0.1"
                   class="web-draggable"
                   ng-model="prefs.minImdbRating"
                   ng-change="update()">
          </ion-item>

          <ion-item class="item-divider">
            Minimum Release Year: {{prefs.minReleaseYear}}
          </ion-item>
          <ion-item class="range range-positive web-draggable">
            <input type="range" min="1900" max="2015"
                   class="web-draggable"
                   ng-model="prefs.minReleaseYear"
                   ng-change="update()">
          </ion-item>

          <ion-item class="item-divider">Genres</ion-item>
          <ion-checkbox ng-model="prefs.genre.action" ng-change="update()">
            Action &amp; Adventure
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.anime" ng-change="update()">
            Anime
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.canadian" ng-change="update()">
            Canadian Movies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.classic" ng-change="update()">
            Classic Movies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.comedy" ng-change="update()">
            Comedies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.documentary" ng-change="update()">
            Documentaries
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.dramas" ng-change="update()">
            Dramas
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.faith" ng-change="update()">
            Faith &amp; Spirituality
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.foreign" ng-change="update()">
            Foreign Movies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.gay" ng-change="update()">
            Gay &amp; Lesbian Movies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.horror" ng-change="update()">
            Horror
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.independent" ng-change="update()">
            Independent Movies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.music" ng-change="update()">
            Music
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.romantic" ng-change="update()">
            Romantic Comedies
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.scifi" ng-change="update()">
            Sci-Fi &amp; Fantasy
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.specialInterest" ng-change="update()">
            Special Interest
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.tv" ng-change="update()">
            TV Shows
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.thrillers" ng-change="update()">
            Thrillers
          </ion-checkbox>
          <ion-checkbox ng-model="prefs.genre.children" ng-change="update()">
            Children &amp; Family Movies
          </ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
