<div class="show-card-container"
     ng-class="{'show-card-container': true}"
     style="background: #{{show.primaryColor}}">
  <div class="show-card-poster-glass"
     style="background: url({{show.imageUrl}}); background-size: cover;"></div>
  <div class="show-card-details-container">
    <div class="show-card-title">
      <span class="show-card-title-text" style="text-shadow: 1px 1px 2px #{{show.primaryColor}};"
          ng-bind-html="show.title | unsafe"></span>

      <div class="show-card-imdb-rating">
        <span class="ion-android-star"></span>
        <span class="imdb-rating">{{show.imdbRating}}</span>
      </div>
    </div>
    <div class="show-card-bottom">
      <div class="show-card-description">
        <div class="show-card-row show-card-plain-row pt0">
          <span ng-bind-html="show.description | limitTo: 450 | unsafe"></span>
          <span ng-if="show.description.length >= 450">&hellip;</span>
        </div>
        <div class="show-card-row show-card-plain-row section-divider">
          <div>
            <span class="show-card-label">Category:</span>
            <span class="show-card-genre" ng-bind-html="show.genre | unsafe"></span>
          </div>
          <div>
            <span class="show-card-label">Director:</span>
            <span ng-bind-html="show.director"></span>
          </div>
          <div>
            <span class="show-card-label">Cast:</span>
            <span ng-bind-html="show.cast | limitTo: 80"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-card-actions">
    <div class="show-card-row show-card-buttons">
      <a ng-click="dismissShow(show)" class="not-interested-button">NOT INTERESTED</a>
      <a ng-click="saveShow(show)" class="add-to-list-button">ADD TO LIST</a>
    </div>
  </div>
</div>
