<div class="show-card-container" style="background: url({{show.imageUrl}}); background-size: cover;">
  <div class="show-card-poster-glass" style="background: url({{show.imageUrl}}); background-size: cover;"></div>
  <div class="show-card-details-container">
    <h4 class="show-card-title">
      {{show.title}}
    </h4>
    <h5 class="show-card-subtitle">
      <span ng-bind-html="show.genre | unsafe"></span>
    </h5>
    <p class="show-card-description">
      <span ng-bind-html="show.description | limitTo: 180 | unsafe"></span>
      <span ng-if="show.description.length >= 180">&hellip;</span>
      <!-- <br/> -->
      <!-- Director: {{show.director}} -->
      <!-- <br/> -->
      <!-- Notable cast: {{show.cast | limitTo: 40}} {{show.cast.length < 40 ? '' : "..."}} -->
    </p>
    <div class="show-card-imdb-rating">
      IMDb Rating: {{show.imdbRating}}
    </div>
  </div>
</div>
