$card-width: 310px;
$card-height: 450px;
$card-bottom-height: $card-height / 1.75;

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 15px;
  margin-left: -1 * $card-width / 2;
  width: $card-width;
  height: $card-height;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 2px rgba(222, 222, 222, 0.6);

  &:hover {
    cursor: -webkit-grab;
  }
}

.show-card-bottom {
  position: absolute;
  bottom: 0px;
  font-family: 'Droid Sans', 'Helvetica Neue';
  width: 100%;
  background: #fff;
  height: $card-bottom-height;
}

td-card img {
  max-width: 100%;
  max-height: 100%;
}

td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}

td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}

td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

/* Cards */
.cards-container {
  background: #EDEDED;
}

.show-card-container {
  position: relative;
  width: $card-width;
  height: $card-height;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.show-card-poster-glass {
  background-size: cover;
  position: absolute;
  top: -80px;
  left: -3px;
  width: $card-width + 5px;
  height: 100%;
  opacity: 0.8;
  -webkit-filter: brightness(0.5) contrast(1.4);
  border-radius: 2px;
  margin: 1px;
}

.show-card-details-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.show-card-title {
  color: #fff;
  width: 100%;
  margin: 0 0 0 0;
  padding: 15px 15px;
  position: absolute;
  bottom: $card-bottom-height - 10px;
  font-weight: 300;
  font-family: 'Droid Sans', 'Helvetica Neue';
  font-size: 22px;
}

.show-card-description {
  width: 100%;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.4);

  .platform-browser & {
    font-size: 13px;
  }
}

.show-card-genre {
  margin: 3px 0 9px 0;
  font-size: 14px;
  color: #999999;
  font-weight: normal;
}

.show-card-row.show-card-imdb-rating {
  margin: 0;
  background: #fff;
  border-top: none;
  padding: 10px 15px 15px 0px;
}

.imdb-branding {
  color: #C6A900;
  display: inline-block;
  font-weight: bold;
}

.imdb-rating {
  color: #827c7c;
  display: inline-block;
  padding-left: 5px;
}

.not-interested-button {
  display: inline-block;
  padding: 20px 15px 17px 15px;
  width: 50%;
  text-align: center;
}

.add-to-list-button {
  display: inline-block;
  padding: 20px 15px 17px 10px;
  float: right;
  width: 50%;
  text-align: center;
}

.show-card-row {
  width: 100%;
  border-top: 1px solid #eee;
  background: rgba(0, 0, 0, 0.03);
}

.show-card-buttons {
  letter-spacing: -0.6px;
  font-weight: 600;
  opacity: 0.4;
  cursor: pointer;
}

.show-card-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Liked show table */

.liked-show-item.first {
  border-top: 1px solid #ccc !important;
}

.liked-show-item.last {
  // box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07);
}

.liked-show-item {
  cursor: pointer;
  padding-top: 15px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 15px;
  position: relative;
  padding-left: 60px;
  height: 90px;
  border-bottom: 1px solid #ccc !important;
}

.liked-show-poster img {
  height: 50px;
  position: absolute;
  top: 18px;
  left: 8px;
  border-radius: 2px;
}

.liked-show-title {
  font-weight: bold;
  padding-top: 0px;
  font-size: 16px;
  margin: 0 0 2px 0;
}

.liked-show-description {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  overflow: hidden;
}

.platform-webview .liked-show-description {
  width: 300px !important;
}

.liked-show-details {
  margin: 0;
}
